<!DOCTYPE html>
<html lang="en" class="bady">
<link rel="stylesheet" href="css.css">
<body>
  <div class="bady">
    <img class="peipei" src="PeiPei.png">
    <img class="bady" src="Image.png">
    <form class="" action="indexpage.html" method="post">
      <input type="text" style="outline:none" name="name" class="input1"value="输 入 你 的 姓 名" onfocus="if(value=='输 入 你 的 姓 名') {value=''}" onblur="if (value=='') {value='输 入 你 的 姓 名'}">
      <img class="line1" src="Line拷贝.png">
      <input type="text" style="outline:none" name="school" class="input2"value="输 入 你 的 学 校" onfocus="if(value=='输 入 你 的 学 校') {value=''}" onblur="if (value=='') {value='输 入 你 的 学 校'}">
      <img class="line2" src="Line拷贝.png">
      <input type="text" style="outline:none" name="studentID" class="input3"value="输 入 你 的 学 号" onfocus="if(value=='输 入 你 的 学 号') {value=''}" onblur="if (value=='') {value='输 入 你 的 学 号'}">
      <img class="line3" src="Line拷贝.png">
      <!-- <div class="button" style="outline:none">微 信 授 权 登 陆</div> -->
      <input type="submit" value="微信授权登录">
    </form>

  </div>
</body>
</html>
